#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}
.side_bar{
    background: blue;
    height: 100vh;
    float: left;
    position: fixed;
    width: 40%;
    overflow-y: auto;
}
.main{
    margin-left: 400px;
    margin-top: 4%;
    padding: 2rem;
}